In [20]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import pandas as pd

In [21]:
df = pd.read_csv('../../data/replaced_english_to_sinhala.csv')

import pandas as pd

# Assuming 'df' is your DataFrame
# Display up to 500 rows from the "Comment" column
comments_subset = df['Comment'].head(500)
print(comments_subset)

0                                    2000 ‡∂ë‡∂ö‡∑ô‡∂ö‡∑ä‡∂Ø üòÇ
1                              ‡∂∏‡∑ú‡∂© ‡∂¥‡∑ú‡∂Ω‡∑í‡∑É‡∑ä gothyeküòÇ
2                                    ‡∑Ñ‡∑ú‡∂Ø ‡∑Ä‡∑ê‡∂©‡∑ö..üòÇüòÇüòÇ
3                       ‡∂ö‡∑ú‡∂Ω‡∑ä‡∂Ω‡∂ß bike ‡∂ë‡∂ö‡∂ß ‡∂Ü‡∑É ‡∑Ñ‡∑í‡∂≠‡∑í‡∂ΩüòÖüòÖ
4                                         ‡∂ú‡∑Ñ‡∂¥‡∑í‡∂∫ üòÇüíî
                          ...
495                            ‡∂∂‡∂∫‡∑í‡∂ö‡∑ä aka hambunada
496                        ‡∂å‡∂ß ‡∂¥‡∂Ø‡∑í‡∂±‡∑ä‡∂± ‡∂Ü‡∑É ‡∑Ñ‡∑í‡∂≠‡∑í‡∂Ω‡∑è ü•¥üòÇüëç
497                          ‡∂ú‡∑Ñ‡∂¥‡∂±‡∑ä ‡∂Ö‡∂∫‡∑í‡∂∫‡∑ô ‡∂Ö‡∂Ω‡∑ä‡∂Ω‡∂ú‡∑ô‡∂±üòÇüòÇ
498     ‡∂ö‡∂±‡∂¥‡∂Ω‡∑è ‡∂ú‡∂±‡∑ä‡∂±‡∑ö ‡∂±‡∑ê‡∂≠‡∑î‡∑Ä ‡∂∂‡∑ê‡∑Ñ‡∑í‡∂±‡∑ä‡∂± ‡∂ö‡∑í‡∑Ä‡∑ä‡∑Ä‡∑è ‡∂±‡∂∏‡∑ä ‡∑Ñ‡∂ª‡∑í üòÖ
499    @Sanju D Liyanage ‡∂ö‡∑ú‡∑Ñ‡∑ô ‡∂ú‡∑í‡∂∫‡∂≠‡∑ä ‡∂¥‡∑ú‡∂Ω‡∑í‡∑É‡∑ä ‡∂¥‡∂ö‡∑ô‡∂ö‡∑ä üòÖ
Name: Comment, Length: 500, dtype: object

In [22]:
df.describe()

,Comment Id,User Id,Reply Comment Id,Digg Count,Reply Count,Video Id
count,3.970000e+03,3.970000e+03,3.970000e+03,3970.000000,3904.000000,3.970000e+03
mean,7.221770e+18,6.953478e+18,1.199558e+17,1.136524,0.074283,7.210500e+18
std,2.123808e+16,4.107298e+17,9.226974e+17,22.970278,1.103933,1.024129e+03
min,7.210438e+18,1.690231e+15,0.000000e+00,0.000000,0.000000,7.210500e+18
25%,7.210718e+18,6.849306e+18,0.000000e+00,0.000000,0.000000,7.210500e+18
50%,7.211414e+18,6.998108e+18,0.000000e+00,0.000000,0.000000,7.210500e+18
75%,7.230551e+18,7.119436e+18,0.000000e+00,0.000000,0.000000,7.210500e+18
max,7.331623e+18,7.321315e+18,7.238263e+18,1075.000000,47.000000,7.210500e+18

In [23]:
df.isnull().sum()

Comment Id            0
User Id               0
Unique Id             0
Nickname              1
Avatar                0
User URL              0
Reply Comment Id      0
Comment               0
Digg Count            0
Reply Count          66
Is Author Digged      0
Author Pin           66
Language            420
Create Time           0
Video URL             0
Video Id              0
English_Words         0
dtype: int64